* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
  background: #C4C4C4;
  padding: 0px 10px;
}

nav ul {
  list-style-type: none;
}

#nav-title{
  text-decoration: none;
  font-family: 'Ribeye', cursive;
  color: black;
}

#fire-icon {
  color: rgb(255, 100, 0);
}

.landing-page {
  background-image: url(./assets/green.png);
  background-size: 100vw 95vh;
  display: flex;
  width: 100%;
  height: 95vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page > * {
  padding: 10px 0px;
}

.button-var1, .button-var2, .button-var3 {
  border-radius: 20px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}

.button-var1 {
  background: rgba($color: #C4C4C4, $alpha: 0.5);
}

.button-var2 {
  background: rgba($color: #C4C4C4, $alpha: 0.8);
}

.button-var3 {
  background: rgba($color: #000000, $alpha: 0.5);
}

.landing-page-alt {
  background-image: url(./assets/main-background.png);
  background-size: 100vw 100vh;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page-alt > * {
  padding: 10px 0px;
}

.here-link, .landing-page-alt > h1, .landing-page-alt > p {
  color: white;
}



.power-up-menu-container {
  position: absolute;
  left:80%;
  top: 5%;
  height:40%;
  width: 20%;
  z-index: 2;
}

.power-up-menu {
  align-self: center;
  justify-self: center;
}

.power-up-menu div h1, .power-up-menu div h3 {
  text-align: center;
  color: black;
}

.power-up-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  margin-left: .6em;
}

.powerup-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.powerup-item {
  flex: 1 1 0;
  min-width: 0;
  height: 50%;
  width: 25%;
}

.powerup-item img {
  width: 80%;
  height: 80%;
}

.powerup-item img:hover {
  border-color: goldenrod;
  border-style: solid;
}

// Styling the chat
.chat-wrapper {
  margin: 0;
  padding: 0;
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: gainsboro;
  border: 2px solid black;
  z-index: 1;
}

.message-input-wrapper {
  margin: 0;
  margin-top: 5px;
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;

  input {
    width: 80%;
    font-size: 15px;
  }
}

.messages-wrapper{
  width: 100%;

  // set height on chat
  max-height: 60%;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

.messages-wrapper::-webkit-scrollbar {
  display: none;
}

.message-wrapper {
  margin-top: 5px;
  width: 100%;
  max-height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.message-wrapper .message-text {
  flex-wrap: wrap-reverse;

}

.message-username {
  font-size: 12px;
  color: blue;
  text-align: left;
}

.message-text {
  font-size: 18px;
  color: black;
  text-align: left;
}

.game-wrapper .chat-wrapper {
  position: absolute;
  left:80%;
  top: 5%;
  height: 95vh;
  width: 20%;
  margin: 0;
  padding: 0;
}

// #music-toggle-on {
//   text-align: center;
//   border-radius: 10px;
//   border: 1px solid black;
//   background-color: rgb(151, 196, 151);
// }

// #music-toggle-off {
//   text-align: center;
//   border-radius: 10px;
//   border: 1px solid black;
//   background-color: rgb(243, 186, 184);
// }

// #music-on {
//   color: black;
// }

// #music-off {
//   color: black;
// }

#lb-entry{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:black;
  background-color: #e2cece;
  font-size: 150%;
  padding: 2vw 0 2vw 0;
  margin: 2vw 0 2vw 0;
  border-radius: 15px;
  width: 80%;
}

#lb-entry div {
  text-align: center;
  margin: 0vw 3vw;
}

#lb-page{
  background-size: cover;
  background-image: url(./assets/main-background.png);
  // background-size: 100vw 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#leaderboard-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C4C4C4;
  border-radius: 20px;
  width: 80%;
  height: 80%;
  padding: 2vw 0 2vw 0;
  margin-bottom: 5vw;
}

// #lb_buttons {
//   border-color: black;
//   border-style: solid;
//   background-color: cadetblue;
// }

// #lb_buttons:hover{
//   background-color: dodgerblue;
// }

#lb-title {
  font-size: 175%;
  margin: 0 0 2vw 0;
}

#lb-title h1 {
  color: white;
  margin-top: 5vw;
}

#lb-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  font-size: 175%;
}

.lb-select {
  color: white;
  background-color: #C4C4C4;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  margin: 0 5vw 5vh 5vw;
  text-align: center;
  cursor: pointer;
}

.lb-select:hover {
  background-color: #afa6a6;
}

.lb-select:active {
  background-color: #807777;
}

#instructions-page{
  background-image: url(./assets/green.png);
  background-size: 100vw 95vh;
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#instructions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80vw;
  height: 85vh;
  background-color: rgba($color: #C4C4C4, $alpha: 0.8);
  border-radius: 20px;
}

#instructions-wrapper > div {
  padding: 10px 50px;
}

.controls-list{
  display: flex;
  width: 100%;
  justify-content: space-evenly;;
}

.sign-in-up-fail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba($color: red, $alpha: 0.3);
  padding: 20px;
  border-radius: 20px;
}

// Styling the queueing page
.queue-page-wrapper {
  background-image: url(./assets/green.png);
  background-size: 100vw 95vh;
  display: flex;
  width: 100%;
  height: 95vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-top: 20px;
  }
  button {
    margin-top: 20px;
  }
}