* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
  background: #C4C4C4;
  padding: 0px 10px;
}

nav ul {
  list-style-type: none;
}

#nav-signout {
  border-radius: 20px;
  border: none;
  background: rgba($color: #000000, $alpha: 0.5);
  padding: 8px;
}

#nav-title{
  text-decoration: none;
  font-family: 'Ribeye', cursive;
  color: black;
}

#fire-icon {
  color: rgb(255, 100, 0);
}

.landing-page, .sign-in-up {
  display: flex;
  width: 100%;
  height: 95vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-var1 {
  border-radius: 20px;
  border: none;
  background: rgba($color: #C4C4C4, $alpha: 0.5);
  padding: 5px 20px;
  cursor: pointer;
}

.no-user-bg {
  background: url(./assets/main-background.png);
  background-size: cover;
}