* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
  background: #C4C4C4;
  padding: 0px 10px;
}

nav ul {
  list-style-type: none;
}

#nav-signout {
  border-radius: 20px;
  border: none;
  background: rgba($color: #000000, $alpha: 0.5);
  padding: 8px;
}

#nav-title{
  text-decoration: none;
  font-family: 'Ribeye', cursive;
  color: black;
}

#fire-icon {
  color: rgb(255, 100, 0);
}

.landing-page {
  background-image: url(./assets/green.png);
  background-size: 100vw 95vh;
  display: flex;
  width: 100%;
  height: 95vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page > * {
  padding: 10px 0px;
}

.button-var1, .button-var2 {
  border-radius: 20px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}

.button-var1 {
  background: rgba($color: #C4C4C4, $alpha: 0.5);
}

.button-var2 {
  background: rgba($color: #C4C4C4, $alpha: 0.8);
}

.landing-page-alt {
  background-image: url(./assets/main-background.png);
  background-size: 100vw 100vh;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page-alt > * {
  padding: 10px 0px;
}

.here-link, .landing-page-alt > h1, .landing-page-alt > p {
  color: white;
}



.power-up-menu-container {
  position: absolute;
  left:.5%;
  top: 0%;
  height: 25%;
  width: 100%;

}

.power-up-menu {
  align-self: center;
  justify-self: center;
}

.power-up-menu div h1, .power-up-menu div h3 {
  text-align: center;
  color: white;
}

.power-up-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.powerup-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.powerup-item {
  flex: 1 1 0;
  min-width: 0;
  height: 50%;
  width: 25%;
}

.powerup-item img {
  width: 100%;
  height: 100%;
}

// Styling the chat
.chat-wrapper {
  margin: 0;
  padding: 0;
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: dimgray;
  border: 2px solid black;
}

.message-input-wrapper {
  margin: 0;
  margin-top: 5px;
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;

  input {
    width: 90%;
    font-size: 18px;
  }
}

.messages-wrapper{
  width: 100%;

  // set height on chat
  max-height: 60%;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

.scroller {
  width: 100%;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: static;
  scroll-snap-align: end;
}

.message-wrapper {
  margin-top: 5px;
  width: 100%;
  max-height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.message-wrapper .message-text {
  flex-wrap: wrap-reverse;

}

.message-username {
  font-size: 12px;
  color: blue;
  text-align: left;
}

.message-text {
  font-size: 18px;
  color: white;
  text-align: left;
}

.game-wrapper .chat-wrapper{
  position: absolute;
  left:80%;
  top: 5%;
  height: 95vh;
  width: 20%;
  margin: 0;
  padding: 0;
}

#lb-entry{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:black;
  background-color: #e2cece;
  font-size: 150%;
  padding: 2vw 0 2vw 0;
  margin: 2vw 0 2vw 0;
  border-radius: 15px;
  width: 80%;
}

#lb-entry div {
  text-align: center;
  margin: 0vw 3vw;
}

#lb-page{
  background-size: cover;
  background-image: url(./assets/main-background.png);
  // background-size: 100vw 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 10vw 10vw;
}

#leaderboard-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C4C4C4;
  border-radius: 20px;
  width: 80%;
  height: 80%;
  padding: 2vw 0 2vw 0;
}

#lb-title {
  font-size: 175%;
  margin: 0 0 2vw 0;
}

#instructions-page{
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#instructions-page > div {
  padding: 10px 50px;
}

.controls-list{
  display: flex;
  width: 100%;
  justify-content: space-evenly;;
}

.sign-in-up-fail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba($color: red, $alpha: 0.3);
  padding: 20px;
  border-radius: 20px;
}

// Styling the queueing page
.queue-page-wrapper {
  background-image: url(./assets/green.png);
  background-size: 100vw 95vh;
  display: flex;
  width: 100%;
  height: 95vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-top: 20px;
  }
  button {
    margin-top: 20px;
  }
}